| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}
link(href="/entities/HeaderLink/HeaderLink.scss" rel="stylesheet")/

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
| !{HTMLComment('## Секция Header содержит компоненты: HeaderLink, ##')}
link(href="/widgets/Header/Header.scss" rel="stylesheet")/
link(href="/widgets/Footer/Footer.scss" rel="stylesheet")/
//- | !{HTMLComment('## Секция Zone не содержит компонентов ##')}
//- link(href="/widgets/Header/Zone.scss" rel="stylesheet")/
//- | !{HTMLComment('## Секция MainBanners содержит компоненты: CardMedium, BannerVideo ##')}
//- link(href="/widgets/Header/MainBanners.scss" rel="stylesheet")/
