| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}

link(href="/widgets/Footer/Footer.scss" rel="stylesheet")/
link(href="/widgets/Header/Header.scss" rel="stylesheet")/

//-| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
//-| !{HTMLComment('## Секция Zone не содержит компонентов ##')}
//-+link('SECTIONS', 'Zone')
//-| !{HTMLComment('## Секция MainBanners содержит компоненты: CardMedium, BannerVideo ##')}
//-| !{HTMLComment('## Секция SmallBanners содержит компоненты: BannerSmall ##')}
//-+link('SECTIONS', 'SmallBanners')
//-| !{HTMLComment('## Секция Promo содержит компонент BannerPromo, CardSmall ##')}
//-| !{HTMLComment('## Секция Like содержит компонент CardProduct ##')}
